.navbar {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.navbar > .container {
  justify-content: center;
}

.active.nav-link {
  background-color: #bbb;
}

.nav-link {
  background-color: #eee;
}
